<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="leaf.prod.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> -->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <!--<uses-permission android:name="android.permission.CALL_PHONE"/>-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".view.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">

        <activity android:name=".activity.wallet.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a98bcff8f4a9d400000010e"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID"/>

        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/SwipeBackLayout"/>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@style/SwipeBackLayout">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/SwipeBackLayout"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/SwipeBackLayout">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="1107846749"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SwipeBackLayout"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider295333837738573"
            android:exported="true"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".activity.setting.LoginActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setupWallet.CoverActivity"
            android:exported="false"
            android:launchMode="standard"/>
        <activity
            android:name=".activity.wallet.MainActivity"
            android:configChanges="locale|layoutDirection|keyboard"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setupWallet.GenerateWalletActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setupWallet.ImportWalletActivity"
            android:exported="false"
            android:launchMode="standard"/>
        <activity
            android:name=".activity.setting.WalletDetailActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.ReceiveActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.wallet.TokenListActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.wallet.TokenListSearchActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.wallet.ActivityScanerCode"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.ShareActivity"
            android:configChanges="locale|layoutDirection|keyboard"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setting.ManageWalletActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setting.CurrencyActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setting.LanguageActivity"
            android:configChanges="locale|layoutDirection|keyboard"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setting.ContractVersionActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setting.LRCFeeRatioActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setting.MarginSplitActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setting.WalletSafeActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setting.ReviseWalletNameActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setting.BackupMnemonicActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setting.ExportMatchPasSafeActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setting.ExportPrivateKeyActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.setting.ExportKeystoreDetailActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.wallet.SendActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.wallet.SendSuccessActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.wallet.SendErrorActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.wallet.SendListChooseActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.wallet.DefaultWebViewActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.wallet.AddCustomTokenActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.setting.SetWalletNameActivity"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.H5DexWebActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.setting.ThirdLoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.wallet.AuthorityWebActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.ConvertActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.P2PActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.P2PTokenListActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.P2PTradeQrActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.P2PSuccessActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.P2PErrorActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.P2PRecordDetailActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.P2PConfirmActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.setupWallet.ConfirmMnemonicActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.wallet.AddContactActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.wallet.ContactListActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.wallet.AirdropActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.market.MarketsActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.market.MarketRecordsActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.infomation.NewsInfoActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.market.MarketSelectActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.market.MarketTradeActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.market.MarketSuccessActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.market.MarketErrorActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <receiver
            android:name="leaf.prod.app.receiver.ApkInstallReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
